<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="HealthKit">
    <param name="ios-package" value="HealthKit"/>
  </feature>

  
  <preference name="HEALTH_READ_PERMISSION" value="App needs read access" />
  <preference name="HEALTH_WRITE_PERMISSION" value="App needs write access" />
  <preference name="PLAY_AUTH_VERSION" value="18.1.0" />
  <preference name="FIT_API_VERSION" value="19.0.0" />
</widget>